body{
    background-image: url('../pictures/pexels-ovan-62693.jpg');
}
.formContainer{
    border: 1px outset black;
    border-radius: 10px;
    box-shadow: 2px 2px 0 0 silver;
    width: fit-content;
    padding: 30px;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    background-color: #fff;
}

.formInput{
    margin: 10px;
    display: block;

}
.formInput>input{
    height: 40px;
    width: 250px;
}

.formInput:hover{
    border-color: blue;
}

input[type=button]{
    padding: 10px;
    border-style: none;
    margin-top: 10px;
    background-color: #fff;
    border: 1px outset cornflowerblue
}

input[type=button]:hover{
    border-radius: 10px;
    background-color: cornflowerblue;
    border: none;

}

.error{
    color: red;
    display: none;
}
