.body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 10px;
    background-color: #fff;
}

header{
    width: 100vw;
    background-color: #fff;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: absolute;
    z-index: 50px;
}
.appBrand{
    display: flex;
    gap:5px;
    margin-left: 100px;
    align-items: center;
}

.appBrand > img{
    display: block;
    align-self: baseline;
}

div[type=button]{
    margin-right: 100px;
    border: 1px outset black;
    padding: 10px;
    font-size: 15px;
}

div[type=button]:hover{
    background-color: #e86e76fc;
    color: #fff;
    border-radius: 10px;
}
.mainPage{
    display: flex;
    justify-content:space-evenly;
    border: 1px solid black;
    background-image: url('../pictures/pexels-mudassir-ali-2680270.jpg');
    height: 100vh;
}

.userProfile{
    background-color: #fefefe;
    box-shadow: 10px 10px 1  rgb(207, 207, 220);
    border-radius: 10px;
    height: auto;
    width: 30%;
    padding: 20px;
    margin-top: 25px;
    align-self: center;


}
.userImg{
    border: 1px solid black;
    height: 100px;
    width:100px;
    border-radius: 10%;
    
}
.icon{
    border-radius: 50%;
    height: 25px;
    width: 25px;
}
.chats-container{
    background-color: #fefefe;
    box-shadow: 2px 2px 0 0 rgb(207, 207, 220);
    border-radius: 10px;
    height: 500px;
    width: 50%;
    align-self: center;
    margin-right:20px;
    margin-top: 25px;
    padding: 20px;
}

.chat-profile{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    border-style: 1px solid black;
    padding: 10px;
}

.friends{
    background-color: silver;
}

.contacts-container{
    border: 1px solid black;
    padding: 5px;
    margin-top: 50px;
    height:auto
}

.chatsContact{
    height: auto;
    border: 1px solid black;
}
.chatsContact>ul{
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 0 0 #eee;
    height: 200px;
    overflow-y: scroll;
}

.chatsContact>ul>li{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    border: 1px outset black;
    border-radius: 5px;
    margin-top: 5px;
}

.contactImg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.contactNoPic{
    background-color: rgba(36, 67, 193, 0.57);
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-message{
    height: 40px;
    width: 60px;
    
}
.chats-view{
    background: rgba(0,0,0,0.15);
    padding: 0.25rem;
    box-sizing: border-box; 
    backdrop-filter: blur(10px);
    
}

#form{
    background: rgba(0,0,0,0.15);
    padding: 0.25rem;
    display: flex; 
    height: 3rem; 
    box-sizing: border-box; 
    backdrop-filter: blur(10px); 
    
}

.backdropMask{
    background-color: rgba(0,0,0,0.15);
    backdrop-filter: blur(10px); 
    position: absolute;
    z-index: 100px;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    margin: auto auto;
}

.message-sent{
    display: flex;
    gap:5px;
    justify-content: center;
}
#messages{
    padding: 0.1rem;
    height: 350px;
    list-style-type: none; 
    margin: 0.25rem; 
    background-color: #fff;
    overflow-y: scroll;

}
#messages > li {
     padding: 0.5rem 1rem;
}

.messageList {
    /*margin: 5px;*/
    align-self: center;
    padding: 20px;
    border-radius: 15px;

    

}

.receiver{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    color: black;
    margin: 15px;
}

.receiver > li{
    background-color: #FAB5B1;
    margin: 10px;
}

.sender{
    display: flex;
    justify-content: flex-end;
    color: black;
    margin: 15px;
}

.sender > li{
    background-color: #B1F6FA;
    margin: 10px;
}


#input { 
    border: none; 
    padding: 0 1rem; 
    flex-grow: 1; 
    border-radius: 2rem; 
    margin: 0.25rem; 
}

.message-auxilliaries{
    background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff;
    
}

.message-spicer{
    display: flex;
    gap: 15px;
    align-items: center;
}

.uploadActions{
    margin: 20px;
}

#input:focus {
     outline: none; 
}

#form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }


#messages > li:nth-child(odd) { background: #efefef; }

.toastContainer{
    height: auto;
    width: 400px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    border-radius: 10px;
    box-shadow: 0 0 50px #ccc;
    padding: 10px;
}

.upload-container{
    padding: 20px;
}

.filePreview{
    border:1px solid silver;
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toastText{
    height: auto;
    width:auto;
    text-align: center;
    font-size: 16px;
    margin: 5px;
}

.toastButtons{
    height: 150px;
    width:100%;
    display: flex;
    gap: 25px;
}










