.body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 10px;
    background-color: #fff;
}

header{
    width: 100vw;
    background-color: #fff;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: absolute;
    z-index: 50px;
}

.gray{
    color: #333;
}

.flex{
    display: flex;
    gap: 0.93rem;

}
.appBrand{
    display: flex;
    gap:5px;
    margin-left: 100px;
    align-items: center;
}


.appBrand > img{
    display: block;
    align-self: baseline;
}

div[type=button]{
    margin-right: 100px;
    border: 1px outset black;
    padding: 10px;
    font-size: 15px;
}

div[type=button]:hover{
    background-color: #e86e76fc;
    color: #fff;
    border-radius: 10px;
}
.mainPage{
    display: flex;
    justify-content:space-evenly;
    border: 1px solid black;
    background-image: url('../pictures/pexels-mudassir-ali-2680270.jpg');
    height: 100vh;
}

.panel-buttons{
    height: 24rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-self: center;
    border-radius: 10px;
    padding: 15px;
}

.iconButton :hover{
    border-color:rgb(1,85,115);
}

.userProfile{
    background-color: #fefefe;
    box-shadow: 10px 10px 1  rgb(207, 207, 220);
    border-radius: 10px;
    height: auto;
    width: 30%;
    padding: 20px;
    margin-top: 25px;
    align-self: center;


}
.userImg{
    border: 1px solid black;
    height: 100px;
    width:100px;
    border-radius: 10%;
    
}
.icon{
    border-radius: 50%;
    height: 25px;
    width: 25px;
}
.chats-container{
    background-color: #fefefe;
    box-shadow: 2px 2px 0 0 rgb(207, 207, 220);
    border-radius: 10px;
    height: fit-content;
    width: 50%;
    align-self: center;
    margin-right:20px;
    margin-top: 25px;
    padding: 20px;
}

.chat-profile{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    border-style: 1px solid black;
    padding: 10px;
}

.friends{
    background-color: #fefefe;
    display: flex;


}
.friend-items{
    padding: 10px;
    flex: 1;

}
.friend-items:hover{
    border-left-color: black;
    border-right-color: black;
    border-bottom-color: black ;
    
}

.contacts-container{
    border: 1px solid #eee;
    padding: 5px;
    margin-top: 50px;
    height:auto
}

.chatsContact{
    height: auto;
    border: 1px solid #eee;
}
.chatsContact>ul{
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 0 0 #eee;
    height: 200px;
    overflow-y: overlay;
    
}

.chatsContact>ul>li{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    border: 1px outset #eee;
    border-radius: 5px;
    margin-top: 5px;
}

.contactImg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.contactNoPic{
    background-color: rgba(36, 67, 193, 0.57);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.send-message{
    height: 40px;
    width: 60px;
    
}
.chats-view{
    position: relative;
    background: rgba(0,0,0,0.15);
    padding: 0.25rem;
    box-sizing: border-box; 
    backdrop-filter: blur(10px);
    height: 25rem;
    max-height: 25rem;
}

#form{
    background: rgba(0,0,0,0.15);
    padding: 0.50rem;
    display: flex; 
    height: fit-content; 
    box-sizing: border-box; 
    backdrop-filter: blur(10px); 
    
}

.backdropMask{
    background-color: rgba(0,0,0,0.15);
    backdrop-filter: blur(10px); 
    position: absolute;
    z-index: 100px;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    margin: auto auto;
}

.message-sent{
    display: flex;
    gap:5px;
    justify-content: center;
}
#messages{
    padding: 0.1rem;
    height: 24rem;
    list-style-type: none; 
    margin: 0.25rem; 
    background-color: #fff;
    overflow-y: scroll;
    overflow-anchor: auto;

}
#messages > li {
     padding: 0.5rem 1rem;
}

.messageList {
    /*margin: 5px;*/
    display: flex;
    flex-direction: column;
    gap: 0.90rem;
    flex-wrap: wrap;
    align-self: center;
    padding: 20px;
    border-radius: 15px;
}

.messageList img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    cursor: pointer;
}



.receiver{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    color: black;
    margin: 15px;
}

.receiver > li{
    background-color: #FAB5B1;
    margin: 10px;
}

.sender{
    display: flex;
    justify-content: flex-end;
    color: black;
    margin: 15px;
}

.sender > li{
    background-color: #B1F6FA;
    margin: 10px;
}

.inputContainer{
    flex-grow: 1;
}

.fullwidth{
    flex-grow: 1;
}

#input { 
    border: none; 
    padding: 0 1rem; 
    flex-grow: 1;
    border-radius: 0.32rem; 
    width: 100%;
}

.message-auxilliaries{
    background: #fff; 
    border: none; 
    padding: 0 1rem;  
    border-radius: 3px; 
    outline: none; 
    color: #fff;
    
}

.message-spicer{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: start;
    flex-grow: 1;
    width: 100%;
    background-color: #fff;
}

.uploadActions{
    margin: 20px;
}

#input:focus {
     outline: none; 
}

#form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }


#messages > li:nth-child(odd) { background: #efefef; }

.toastContainer{
    height: auto;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 50px #ccc;
    padding: 20px;
}

.centerItem{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

.upload-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap:15px

}

#filePreview{
    position: absolute;
    z-index: 2000;
    top: 8rem;
}

.filePreview{
    height: 14rem;
    max-height: 14rem;
    max-width: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-preview{
    height: 14rem;
}

.toastText{
    height: auto;
    width:auto;
    text-align: center;
    font-size: 16px;
    margin: 5px;
}

.toastButtons{
    height: 150px;
    width:100%;
    display: flex;
    gap: 25px;
}

.dropdown{
    height: auto;
    width: 13.63rem;
}

li{
    border: none;
    border-bottom: 1px solid black;
}

li:nth-child(2){
    background-color: #eee;
}

.none{
    display: none;
}

.block{
    display: block;
}

.backdrop{
    display: flex;
    justify-content: center;
    align-items: center;
}

#dropdownWrapper{
    position: absolute;
    z-index: 1000;
    
}

#emojiPicker{
    position: absolute;
    top: -5rem;
}



.file-preview{
    background-color: #fff;
    height: fit-content;
    width: 100%;
    padding: 0 1;
}

.actions{
    background-color: #f1f1ff;
    padding: 0.54rem;
    border-radius: 0.1rem;
    width: 100%;
    
}

.m-attatchments{
    display: flex;
    justify-content: space-evenly;

}

.m-send{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.documentPreview{
    height: 5.0rem;
    width: 5.0rem;
    border-radius: 0.25rem;
    cursor: pointer;

}

.img-thumbnail{
    max-height: 14rem;
    max-width: 14rem;
}

.disableElement{
    pointer-events: none;
}

.recorderModal{
    display: flex;
    flex-direction: column;
    gap:10px;
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    max-height: 19rem;
}

.microphone{
    height: 9rem;
    width: 9rem;

}

.microphone-Space{
    cursor: pointer;
    font-size: 8rem;

}

.microphone :hover{
    color: orangered;
}

#waveform {
    width: 100%;
    height: 150px;
}









